<h3>Checkin dia: 20/05/2017, Checkout dia: 25/05/2017, Total de Adultos: 2 com 1 Criança</h3>
<h5 *ngIf="list == undefined"> Carregando Aguarde ...</h5>
<div class="container">
  <div class="row">
    <div class="card" style="width: 18rem;" *ngFor="let item of list">
      <div class="card-body">
        <h5 class="card-title">{{item.city}}</h5>

        <p class="card-text" *ngFor="let room of item.rooms">Categoria do quarto:{{room.category.name}}, valor total
          {{room.totalPrice}}.
          Preço por adulto: {{room.priceDetail.pricePerDayAdult}}, preço por criança
          {{room.priceDetail.pricePerDayChild}}
        </p>

        <button type="button" class="btn btn-primary">
          Reservar
        </button>

      </div>
    </div>
  </div>
</div>
